.navbar {
  margin-bottom: 0;
}

.header-fixed {
    width: 100%;
}

#carouselImage {
    min-width: 90%;
    height: auto;
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
