/* mixins */
.drop-shadow {
  -webkit-filter: drop-shadow(4px -4px 4px rgba(0, 0, 0, 0.5));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=-4, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=-4, Color='#444')";
}
/* styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #90D5EF;
  background-image: url("media/images/general/top-gradient.PNG");
  background-attachment: fixed;
  overflow: hidden;
  background-size: auto 80vh;
  background-repeat: repeat-x;
  background-position-y: top;
  background-position-x: center;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overeflow: hidden;
}
.carousel {
  transition: left 3s;
  position: absolute;
  top: 0px;
  height: 100vh;
}
.carousel .slide {
  float: left;
  position: relative;
  height: 100vh;
}
.carousel .slide .layer {
  height: 100vh;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  /* clear floats */
  display: flex;
  align-items: flex-end;
}
.carousel--background {
  width: 1200vw;
  left: 0vw;
  /* base background */
  /* generic styles that can be used for elements within a layer */
  /* Positioning for each slide -- add new slides to this section */
}
.carousel--background::before {
  background-color: #7D2830;
  width: 1100vw;
  height: 16vh;
  content: " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.carousel--background .slide,
.carousel--background .layer {
  width: 100vw;
}
.carousel--background .slide-1 .mountain-background {
  position: absolute;
  width: 81vw;
  bottom: 16vh;
  right: -160px;
}
.carousel--background .slide-2 .background-bar-graph {
  position: absolute;
  bottom: 15vh;
  right: 35vw;
  width: 200px;
  height: 40vh;
}
.carousel--background .slide-2 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-3 .background-event-back {
  width: 130vw;
  position: absolute;
  bottom: 11.5vh;
  left: -215px;
}
.carousel--background .slide-3 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-3 .slide-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.carousel--background .slide-3 .text-title {
  font-size: 30px;
  position: relative;
  z-index: 2;
  color: white;
  margin-left: 20vw;
  margin-top: 12vh;
}
.carousel--background .slide-3 .secondary-text {
  color: white;
  font-size: 20px;
  z-index: 2;
  position: relative;
  margin-top: 12vh;
  margin-right: 10vw;
  width: 30vw;
}
.carousel--background .slide-4 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-5 .background-new-project {
  position: absolute;
  bottom: 13.5vh;
  width: 32vw;
  left: 6vw;
}
.carousel--background .slide-5 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-6 .background-update-bar-left {
  position: absolute;
  bottom: 16vh;
  height: 70vh;
  left: 2vw;
  width: 28vw;
}
.carousel--background .slide-6 .background-update-bar-right {
  position: absolute;
  bottom: 16vh;
  height: 70vh;
  left: 71vw;
  width: 28vw;
}
.carousel--background .slide-6 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-7 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-8 .cityscape {
  position: absolute;
  bottom: 14vh;
  left: -10.5vw;
  width: 70vw;
  height: 80vh;
}
.carousel--background .slide-8 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-9 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-10 .image-background {
  position: absolute;
  bottom: 16vh;
  height: 70vh;
  width: 95vw;
  left: 5vw;
}
.carousel--background .slide-10 .slide-title {
  text-align: center;
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
}
.carousel--background .slide-11::before {
  background-color: #B23C43;
  width: 100%;
  height: 12vh;
  content: " ";
  position: absolute;
  left: -500px;
  bottom: 0px;
}
.carousel--background .slide-11::after {
  background-color: #E34C54;
  width: 200%;
  height: 8vh;
  content: " ";
  position: absolute;
  right: -500px;
  bottom: 0px;
}
.carousel--background .slide-11 .slide-title {
  color: #7D2A32;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 5vh;
  margin-left: 10vw;
}
.carousel--background .slide-12 .get-involved-wave {
  position: absolute;
  height: 110vh;
  left: -53.5vw;
  bottom: 0vh;
}
.carousel--background .width-minus-100px {
  width: calc(100vw - 100px);
}
.carousel--background .width-minus-755px {
  width: calc(100vw - 755px);
}
.carousel--background.position-2 {
  left: -100vw;
}
.carousel--background.position-3 {
  left: -200vw;
}
.carousel--background.position-4 {
  left: -300vw;
}
.carousel--background.position-5 {
  left: -400vw;
}
.carousel--background.position-6 {
  left: -500vw;
}
.carousel--background.position-7 {
  left: -600vw;
}
.carousel--background.position-8 {
  left: -700vw;
}
.carousel--background.position-9 {
  left: -800vw;
}
.carousel--background.position-10 {
  left: -900vw;
}
.carousel--background.position-11 {
  left: -1000vw;
}
.carousel--background.position-12 {
  left: -1100vw;
}
.carousel--midground {
  width: 1800vw;
  left: -50vw;
  /* base background */
  /* generic styles that can be used for elements within a layer */
  /* Positioning for each slide -- add new slides to this section */
}
.carousel--midground::before {
  background-color: #B23C43;
  width: 1500vw;
  height: 12vh;
  content: " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.carousel--midground .slide,
.carousel--midground .layer {
  width: 150vw;
}
.carousel--midground .slide-1 .mountain-midground {
  right: -59vw;
  position: absolute;
  bottom: 11vh;
  width: 127vw;
}
.carousel--midground .slide-2 .midground-bar-graph {
  position: absolute;
  bottom: 11vh;
  width: 300px;
  right: 21vw;
  height: 50vh;
}
.carousel--midground .slide-3 .midground-event-back {
  position: absolute;
  bottom: 9vh;
  width: 250vw;
  left: -27vw;
  height: 55vh;
}
.carousel--midground .slide-3 .slide-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 40vh;
  right: -50vw;
  width: 100vw;
}
.carousel--midground .slide-3 .text-title {
  font-size: 30px;
  position: relative;
  z-index: 2;
  color: white;
  margin-left: 20vw;
  margin-top: 12vh;
}
.carousel--midground .slide-3 .secondary-text {
  color: white;
  font-size: 20px;
  z-index: 2;
  position: relative;
  margin-top: 12vh;
  margin-right: 10vw;
  width: 30vw;
}
.carousel--midground .slide-5 .midground-new-project {
  position: absolute;
  bottom: 10.5vh;
  left: 86vw;
  height: 71vh;
}
.carousel--midground .slide-6 .midground-update-bar {
  position: absolute;
  bottom: 11vh;
  height: 65vh;
  left: 75vw;
  width: 28vw;
}
.carousel--midground .width-minus-100px {
  width: calc(150vw - 100px);
}
.carousel--midground .width-minus-756px {
  width: calc(150vw - 756px);
}
.carousel--midground.position-2 {
  left: -200vw;
}
.carousel--midground.position-3 {
  left: -350vw;
}
.carousel--midground.position-4 {
  left: -500vw;
}
.carousel--midground.position-5 {
  left: -650vw;
}
.carousel--midground.position-6 {
  left: -800vw;
}
.carousel--midground.position-7 {
  left: -950vw;
}
.carousel--midground.position-8 {
  left: -1100vw;
}
.carousel--midground.position-9 {
  left: -1250vw;
}
.carousel--midground.position-10 {
  left: -1400vw;
}
.carousel--midground.position-11 {
  left: -1550vw;
}
.carousel--midground.position-12 {
  left: -1700vw;
}
.carousel--foreground {
  width: 2400vw;
  left: -100vw;
  /* base background */
  /* generic styles that can be used for elements within a layer */
  /* Positioning for each slide -- add new slides to this section */
}
.carousel--foreground::before {
  background-color: #E34C54;
  width: 2000vw;
  height: 8vh;
  content: " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.carousel--foreground .slide,
.carousel--foreground .layer {
  width: 200vw;
}
.carousel--foreground .slide-1 .mountain-foreground {
  position: absolute;
  bottom: 6vh;
  right: -110vw;
  width: 178vw;
}
.carousel--foreground .slide-2 .foreground-bar-graph {
  position: absolute;
  bottom: 6vh;
  width: 200px;
  height: 60vh;
  right: 14vw;
}
.carousel--foreground .slide-3 .foreground-event-back {
  position: absolute;
  bottom: 4vh;
  left: 95vw;
  height: 35vh;
}
.carousel--foreground .slide-3 .slide-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 65vh;
  right: -105vw;
  width: 100vw;
}
.carousel--foreground .slide-3 .text-title {
  font-size: 30px;
  position: relative;
  z-index: 2;
  color: white;
  margin-left: 20vw;
  margin-top: 12vh;
}
.carousel--foreground .slide-3 .secondary-text {
  color: white;
  font-size: 15px;
  z-index: 2;
  position: relative;
  margin-top: 12vh;
  margin-right: 10vw;
  width: 30vw;
}
.carousel--foreground .slide-5 .foreground-new-project {
  position: absolute;
  bottom: 7vh;
  height: 66vh;
  left: 165vw;
}
.carousel--foreground .slide-6 .foreground-update-bar {
  position: absolute;
  bottom: 7vh;
  height: 60vh;
  left: 148vw;
  width: 28vw;
}
.carousel--foreground .slide-10::before {
  background-color: #E34C54;
  width: 125%;
  height: 8vh;
  content: " ";
  position: absolute;
  right: -1000px;
  bottom: 0px;
}
.carousel--foreground .width-minus-100px {
  width: calc(200vw - 100px);
}
.carousel--foreground .width-minus-756px {
  width: calc(200vw - 756px);
}
.carousel--foreground.position-2 {
  left: -300vw;
}
.carousel--foreground.position-3 {
  left: -500vw;
}
.carousel--foreground.position-4 {
  left: -700vw;
}
.carousel--foreground.position-5 {
  left: -900vw;
}
.carousel--foreground.position-6 {
  left: -1100vw;
}
.carousel--foreground.position-7 {
  left: -1300vw;
}
.carousel--foreground.position-8 {
  left: -1500vw;
}
.carousel--foreground.position-9 {
  left: -1700vw;
}
.carousel--foreground.position-10 {
  left: -1900vw;
}
.carousel--foreground.position-11 {
  left: -2100vw;
}
.carousel--foreground.position-12 {
  left: -2300vw;
}
.repeated-background {
  background-repeat: repeat-x;
  background-position: center bottom;
  height: 100vh;
}
.text-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}
.text-overlay .text-slide {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}
.text-overlay .text-slide-1__cfd-logo {
  position: absolute;
  right: 40px;
  bottom: 40px;
  transition: 300ms 500ms;
}
.text-overlay .text-slide-1__intro-text {
  position: absolute;
  top: 20px;
  left: 20px;
}
.text-overlay .text-slide-2 h2 {
  margin-top: 200px;
  margin-left: 100px;
}
.portrait-warning {
  margin-top: 30vh;
  text-align: center;
}
@media only screen and (orientation: portrait) {
  .carousel {
    display: none;
  }
  .text-overlay {
    display: none;
  }
  .carousel-controls {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  .portrait-warning {
    display: none;
    width: 100%;
  }
}
