body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(#fff 0%, #bee3f6 10%, #8fd7f0 100%);
	background-attachment: fixed;
	overflow: hidden;
}
.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overeflow: hidden;
}

@numberOfSlides: 2;

.carousel {
	transition: left 3s;
	position: absolute;
	top: 0px;
	height: 100vh;
	
	.slide {
		float: left;
		position: relative;
		height: 100vh;
		
		.layer {
			height: 100vh;
			position: absolute;
			left: 0px;
			bottom: 0px;
			overflow: hidden; /* clear floats */
			display: flex;
			align-items: flex-end;
		}
	}
	
	&--background {
		@width: 100vw;
		width: @width * @numberOfSlides;
		left: 0vw;
		
		.slide,.layer {
			width: @width;
		}
		
		/* generic styles that can be used for elements within a layer */
		
		.width-minus-100px {
			width: calc(~"@{width} - 100px");
		}
		
		.width-minus-755px {
			width: calc(~"@{width} - 755px");
		}
		
		/* Positioning for each slide -- add new slides to this section */
		
		&.position-2 {
			left: @width * -1;
		}
	}
	
	&--midground {
		@width: 150vw;
		width: @width * @numberOfSlides;
		left: 100vw - @width;
		
		.slide,.layer {
			width: @width;
		}
		
		/* generic styles that can be used for elements within a layer */
		
		.width-minus-100px {
			width: calc(~"@{width} - 100px");
		}
		
		.width-minus-756px {
			width: calc(~"@{width} - 756px");
		}
		
		/* Positioning for each slide -- add new slides to this section */
		
		&.position-2 {
			left: @width * -1 + (100vw - @width);
		}
		
		&.position-3 {
			left: @width * -2 + (100vw - @width);
		}
	}
	
	&--foreground {
		@width: 200vw;
		width: @width * @numberOfSlides;
		left: 100vw - @width;
		
		.slide,.layer {
			width: @width;
		}
		
		/* generic styles that can be used for elements within a layer */
		
		.width-minus-100px {
			width: calc(~"@{width} - 100px");
		}
		
		.width-minus-756px {
			width: calc(~"@{width} - 756px");
		}
		
		/* Positioning for each slide -- add new slides to this section */
		
		&.position-2 {
			left: @width * -1 + (100vw - @width);
		}
	}
}
.repeated-background {
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 100vh;
}	
.text-overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	
	img {
		width: 100vw;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}