body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #90D5EF;
	background-image: url("./media/images/general/Bottom-three-layers.png"), url("./media/images/general/top-gradient.PNG");
	background-attachment: fixed;
	overflow: hidden;
	background-size: 200vw 20vh, auto 80vh;
	background-repeat: no-repeat, repeat-x;
	background-position-y: bottom, top;
	background-position-x: center;

}
.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overeflow: hidden;
}

@numberOfSlides: 12;

.carousel {
	transition: left 3s;
	position: absolute;
	top: 0px;
	height: 100vh;

	.slide {
		float: left;
		position: relative;
		height: 100vh;

		.layer {
			height: 100vh;
			position: absolute;
			left: 0px;
			bottom: 0px;
			overflow: hidden; /* clear floats */
			display: flex;
			align-items: flex-end;
		}
	}


	&--background {
		@width: 100vw;
		width: @width * @numberOfSlides;
		left: 0vw;

		.slide,.layer {
			width: @width;
		}

		.slide-1 {

			.mountain-background {
				position: absolute;
				width: 81vw;
				bottom: 16vh;
				right: -160px;
			}
		}

		.slide-2 {

			.background-bar-graph {
				position: absolute;
				bottom: 16vh;
				right: 35vw;
				width: 200px;
				height: 40vh;
			}
		}

		.slide-3 {

			.background-event-back {
				width: 130vw;
				position: absolute;
				bottom: 14vh;
				left: -215px;

			}
		}

		/* generic styles that can be used for elements within a layer */

		.width-minus-100px {
			width: calc(~"@{width} - 100px");
		}

		.width-minus-755px {
			width: calc(~"@{width} - 755px");
		}

		/* Positioning for each slide -- add new slides to this section */

		&.position-2 {
			left: @width * -1 + (100vw - @width);
		}
		&.position-3 {
			left: @width * -2 + (100vw - @width);
		}
		&.position-4 {
			left: @width * -3 + (100vw - @width);
		}
		&.position-5 {
			left: @width * -4 + (100vw - @width);
		}
		&.position-6 {
			left: @width * -5 + (100vw - @width);
		}
		&.position-7 {
			left: @width * -6 + (100vw - @width);
		}
		&.position-8 {
			left: @width * -7 + (100vw - @width);
		}
		&.position-9 {
			left: @width * -8 + (100vw - @width);
		}
		&.position-10 {
			left: @width * -9 + (100vw - @width);
		}
		&.position-11 {
			left: @width * -10 + (100vw - @width);
		}
		&.position-12 {
			left: @width * -11 + (100vw - @width);
		}
	}

	&--midground {
		@width: 150vw;
		width: @width * @numberOfSlides;
		left: 100vw - @width;

		.slide,.layer {
			width: @width;
		}

		.slide-1 {

			.mountain-midground {
				right: -170px;
				position: absolute;
				bottom: 11vh;
				width: 80vw;
			}

		}

		.slide-2 {

			.midground-bar-graph {
				position: absolute;
				bottom: 11vh;
				width: 300px;
				right: 21vw;
				height: 50vh;
			}
		}

		.slide-3 {

			.midground-event-back {
				position: absolute;
				bottom: 10vh;
				width: 250vw;
				left: -27vw;
				height: 55vh;
			}
		}

		/* generic styles that can be used for elements within a layer */

		.width-minus-100px {
			width: calc(~"@{width} - 100px");
		}

		.width-minus-756px {
			width: calc(~"@{width} - 756px");
		}

		/* Positioning for each slide -- add new slides to this section */

		&.position-2 {
			left: @width * -1 + (100vw - @width);
		}
		&.position-3 {
			left: @width * -2 + (100vw - @width);
		}
		&.position-4 {
			left: @width * -3 + (100vw - @width);
		}
		&.position-5 {
			left: @width * -4 + (100vw - @width);
		}
		&.position-6 {
			left: @width * -5 + (100vw - @width);
		}
		&.position-7 {
			left: @width * -6 + (100vw - @width);
		}
		&.position-8 {
			left: @width * -7 + (100vw - @width);
		}
		&.position-9 {
			left: @width * -8 + (100vw - @width);
		}
		&.position-10 {
			left: @width * -9 + (100vw - @width);
		}
		&.position-11 {
			left: @width * -10 + (100vw - @width);
		}
		&.position-12 {
			left: @width * -11 + (100vw - @width);
		}
	}

	&--foreground {
		@width: 200vw;
		width: @width * @numberOfSlides;
		left: 100vw - @width;

		.slide,.layer {
			width: @width;
		}

		.slide-1 {

			.mountain-foreground {
				position: absolute;
				bottom: 6vh;
				right: -130px;
				width: 78vw;
			}
		}

		.slide-2 {

			.foreground-bar-graph {
				position: absolute;
				bottom: 6vh;
				width: 200px;
				height: 60vh;
				right: 15vw;
			}
		}

		.slide-3 {

			.foreground-event-back {
				position: absolute;
				bottom: 4vh;
				left: 95vw;
				height: 35vh;
			}
		}

		/* generic styles that can be used for elements within a layer */

		.width-minus-100px {
			width: calc(~"@{width} - 100px");
		}

		.width-minus-756px {
			width: calc(~"@{width} - 756px");
		}

		/* Positioning for each slide -- add new slides to this section */

		&.position-2 {
			left: @width * -1 + (100vw - @width);
		}
		&.position-3 {
			left: @width * -2 + (100vw - @width);
		}
		&.position-4 {
			left: @width * -3 + (100vw - @width);
		}
		&.position-5 {
			left: @width * -4 + (100vw - @width);
		}
		&.position-6 {
			left: @width * -5 + (100vw - @width);
		}
		&.position-7 {
			left: @width * -6 + (100vw - @width);
		}
		&.position-8 {
			left: @width * -7 + (100vw - @width);
		}
		&.position-9 {
			left: @width * -8 + (100vw - @width);
		}
		&.position-10 {
			left: @width * -9 + (100vw - @width);
		}
		&.position-11 {
			left: @width * -10 + (100vw - @width);
		}
		&.position-12 {
			left: @width * -11 + (100vw - @width);
		}
	}
}
.repeated-background {
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 100vh;
}
.text-overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;

	.text-slide {
		display: none;
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0px;
		left: 0px;
	}

	.text-slide-1 {
		&__cfd-logo {
			position: absolute;
			right: 40px;
			bottom: 40px;
			transition: 300ms 500ms;
		}
		&__intro-text {
			position:absolute;
			top: 20px;
			left: 20px;
		}
	}

	.text-slide-2 {
		h2 {
			margin-top: 200px;
			margin-left: 100px;
		}
	}
}
